UK website/workflow.json
{
  "name": "wedsite",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "d816d626-1e87-4ac2-a67f-c837e7fd55fd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior frontend developer and UI designer.\n\nGenerate a modern **Technozis Careers webpage** using HTML and TailwindCSS.\n\nThe page must follow the **same design system as the Technozis website**, so that it looks like part of the same platform.\n\nIMPORTANT RULES\n\n• The company name must remain **Technozis**\n• Background color must be **black (#000000)**\n• Text colors must be **white and blue only**\n• Do NOT use orange or other accent colors\n• Use **TailwindCSS CDN**\n• Use **Inter font from Google Fonts**\n• Design must look clean, modern, and professional\n\nHERO SECTION (IMPORTANT)\n\nThe hero image must **NOT be used as a full background**.\n\nInstead create a **two-column hero layout**:\n\nLeft side:\n• Large headline\n• Short description\n• Blue call-to-action button\n\nRight side:\n• Image displayed in a container\n• Image should take **around half the page width**\n• Use rounded corners\n• Use spacing so the layout feels balanced\n\nUse this hero image:\n\nhttps://images.unsplash.com/photo-1521737604893-d14cc237f11d\n\nNAVIGATION BAR\n\nCreate a navbar with:\n\nTechnozis logo on the left\n\nhttps://www.technozis.com/static/images/brand-logo.svg\n\nMenu items:\n\nSolutions\nServices\nIndustries\nAbout Us\nCareers\nContact Us\n\nAdd a blue **Get in Touch** button on the right.\n\nSECTIONS\n\nCreate the following sections:\n\n1. Why Join Technozis (4 cards)\n2. Life at Technozis (culture grid)\n3. Who We Are Looking For (role cards with avatars)\n4. Community section with image and text\n\nUse these images where needed.\n\nCommunity Image\nhttps://images.unsplash.com/photo-1556761175-b413da4baf72\n\nIcons\n\nhttps://img.icons8.com/ios-filled/50/ffffff/globe.png\nhttps://img.icons8.com/ios-filled/50/ffffff/book.png\nhttps://img.icons8.com/ios-filled/50/ffffff/diamond.png\nhttps://img.icons8.com/ios-filled/50/ffffff/growth.png\n\nFOOTER (IMPORTANT)\n\nCreate a **modern redesigned footer**.\n\nThe footer must contain:\n\n• Technozis logo\n• Short company description\n• Expertise links\n• Company links\n• Contact information\n• Social links\n\nThe footer must be styled with:\n\n• black background\n• subtle border top\n• multi-column layout\n• clean spacing\n\nThe footer should look **more modern than a basic list footer**.\n\nOUTPUT RULES\n\n• Output ONLY the HTML code\n• Do NOT include explanations\n• Do NOT include markdown formatting\n• Do NOT write messages like “Here is the HTML code”\n• Start directly with:\n\n<!DOCTYPE html>\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        656,
        -192
      ],
      "id": "b9d6b356-9fda-411f-b4cf-e19b185a123f",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://technozis.com\",\n  \"formats\": [\"markdown\", \"html\"],\n  \"includeTags\": [\"img\", \"video\", \"source\", \"iframe\"],\n  \"onlyMainContent\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "27f8b8ac-d092-4083-b5ab-f930edcb209e",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "pHzHn6RRsXsWOTBx",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const html = $json.text;\n\nreturn [\n{\n  binary: {\n    data: {\n      data: Buffer.from(html).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'technozis-report.html'\n    }\n  }\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -192
      ],
      "id": "c7cb047e-14c0-4e49-9295-78a5a481ec7d",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a senior frontend developer and UI designer.\n\nAnalyze the structure of this webpage:\n\nhttps://www.technozis.com/business\n\nYour task is to recreate a webpage with the **same layout and section structure**, but generate **new original content**. The page should be designed as the **Technozis Home Page**, not a business services page.\n\nIMPORTANT RULES\n\n• The company name must remain **Technozis**\n• Do NOT invent another company name\n• Keep the same layout hierarchy as the reference page\n• Generate new professional content for a technology company home page\n• Maintain a modern corporate technology design\n\nSTYLE REQUIREMENTS\n\n• Background color must be **black (#000000)**\n• Primary text colors must be **white and blue**\n• Use TailwindCSS for styling\n• Use modern grid layouts\n• Rounded cards and images\n• Smooth hover effects\n• Clean enterprise design\n\nIMAGES\n\nUse these image URLs when images are required.\n\nTechnozis Logo\nhttps://www.technozis.com/static/images/brand-logo.svg\n\nHero Image\nhttps://images.pexels.com/photos/8386440/pexels-photo-8386440.jpeg\n\nCommunity Image\nhttps://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg\n\nConsulting Image\nhttps://images.pexels.com/photos/7567434/pexels-photo-7567434.jpeg\n\nTECHNOLOGY LOGOS TO DISPLAY\n\nSalesforce\nhttps://www.technozis.com/static/images/services/salesforce.svg\n\nPowerBI\nhttps://www.technozis.com/static/images/services/powerbi.svg\n\nAWS\nhttps://www.technozis.com/static/images/services/aws.svg\n\nOracle\nhttps://www.technozis.com/static/images/services/oracle.svg\n\nSAP\nhttps://upload.wikimedia.org/wikipedia/commons/5/59/SAP_2011_logo.svg\n\nGenerative AI\nhttps://upload.wikimedia.org/wikipedia/commons/0/04/ChatGPT_logo.svg\n\nPAGE STRUCTURE (match the reference layout)\n\n1. Navigation bar with Technozis logo and menu items\n2. Hero section introducing Technozis as a global technology partner\n3. Technologies section showing all technology logos including\n   Salesforce, PowerBI, AWS, Oracle, SAP, and Generative AI\n4. Community / ecosystem section with statistics and image\n5. Services section highlighting core capabilities\n6. Why choose Technozis section\n7. High-performance engineering teams section\n8. Expert consulting section with steps such as scoping and kickstart\n9. Achievements / statistics section\n10. Footer with company information, expertise, and contact details\n\nOUTPUT RULES\n\n• Output ONLY the HTML code\n• Do NOT include explanations\n• Do NOT include markdown formatting\n• Do NOT add messages like “Here is the HTML code”\n• Start directly with:\n\n<!DOCTYPE html>\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        128
      ],
      "id": "cf0bb87a-733e-4d0f-8c71-732e55cf651d",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        304
      ],
      "id": "b30cf4d0-0589-438f-95b4-99e2a2f01823",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "685wBbSCTuHC09Vi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const html = $json.text;\n\nreturn [\n{\n  binary: {\n    data: {\n      data: Buffer.from(html).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'technozis-report.html'\n    }\n  }\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        128
      ],
      "id": "ab609278-4a13-43dc-9f97-f28f8952a450",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        656,
        -16
      ],
      "id": "a4dd4480-4f4f-426f-ae26-d8e4d7bc2d38",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "MzH9k7neOEoUyRv9",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4334446e-326d-486d-a17b-c2e8730e0a61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f88a87f80be19c18841ad1103113801dfee770cad6e6afdec74a816c8a7bc07"
  },
  "id": "1ZSQMfDUhZIIshi0",
  "tags": []
}